@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <div class="col-md-12">
        <div class="ais-InstantSearch">
            <div class="row">
       
                <div class="col-md-12">
                    <div class="right-panel">
                        <div class="row">
                          
                           
                            <div class="col-md-12">
                                <div class="iq-product-layout-grid">
                                    <div id="hits">
                                        <div class="ais-Hits iq-product">
                                            <ul class="ais-Hits-list iq-product-list">
                                                <li key="0" class="ais-Hits-item iq-product-item iq-card">
                                                    <div class="text-center">
                                                        <a href="">
                                                            <div class="h-56 d-flex align-items-center justify-content-center bg-white iq-border-radius-15">
                                                                <img src="https://cdn-demo.algolia.com/bestbuy-0118/5477500_sb.jpg" align="left" alt="">
                                                            </div>
                                                        </a>
                                                        <div class="card-body">
                                                            <div class="text-justify">
                                                                <a href="javascript:void(0)">Amazon - Fire TV Sti</a>
                                                                <p class="font-size-12 mb-0">Enjoy smart access to videos, games and </p>
                                                                <div class="ratting">
                                                                    <ul class="ratting-item d-flex p-0 m-0">
                                                                        <li class="full"><i class="ri-star-fill"></i></li>
                                                                        <li class="full"><i class="ri-star-fill"></i></li>
                                                                        <li class="full"><i class="ri-star-fill"></i></li>
                                                                        <li class="full"><i class="ri-star-fill"></i></li>
                                                                        <li class="full"><i class="ri-star-line"></i></li>
                                                                    </ul>
                                                                </div>
                                                            </div>
                                                            <div class="iq-product-action my-2">
                                                                <button type="button" class="btn btn-primary iq-waves-effect text-uppercase btn-sm addToCart" id="5477500">
                                                                    <i class="ri-shopping-cart-line mr-0"></i>
                                                                </button>
                                                                <button type="button" class="btn btn-primary iq-waves-effect text-uppercase btn-sm addToWish" id="5477500">
                                                                    <i class="ri-heart-line mr-0"></i>
                                                                </button>
                                                                <p class="font-size-16 font-weight-bold float-right">39.99</p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </li>
                                                <li key="1" class="ais-Hits-item iq-product-item iq-card">
                                                    <div class="text-center">
                                                        <a href="">
                                                            <div class="h-56 d-flex align-items-center justify-content-center bg-white iq-border-radius-15">
                                                                <img src="https://cdn-demo.algolia.com/bestbuy-0118/4397400_sb.jpg" align="left" alt="">
                                                            </div>
                                                        </a>
                                                        <div class="card-body">
                                                            <div class="text-justify">
                                                                <a href="javascript:void(0)">Google - Chromecast </a>
                                                                <p class="font-size-12 mb-0">Google Chromecast: Enjoy a world of ente</p>
                                                                <div class="ratting">
                                                                    <ul class="ratting-item d-flex p-0 m-0">
                                                                        <li class="full"><i class="ri-star-fill"></i></li>
                                                                        <li class="full"><i class="ri-star-fill"></i></li>
                                                                        <li class="full"><i class="ri-star-fill"></i></li>
                                                                        <li class="full"><i class="ri-star-fill"></i></li>
                                                                        <li class="full"><i class="ri-star-line"></i></li>
                                                                    </ul>
                                                                </div>
                                                            </div>
                                                            <div class="iq-product-action my-2">
                                                                <button type="button" class="btn btn-primary iq-waves-effect text-uppercase btn-sm addToCart" id="4397400">
                                                                    <i class="ri-shopping-cart-line mr-0"></i>
                                                                </button>
                                                                <button type="button" class="btn btn-primary iq-waves-effect text-uppercase btn-sm addToWish" id="4397400">
                                                                    <i class="ri-heart-line mr-0"></i>
                                                                </button>
                                                                <p class="font-size-16 font-weight-bold float-right">35</p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </li>
                                                <li key="2" class="ais-Hits-item iq-product-item iq-card">
                                                    <div class="text-center">
                                                        <a href="">
                                                            <div class="h-56 d-flex align-items-center justify-content-center bg-white iq-border-radius-15">
                                                                <img src="https://cdn-demo.algolia.com/bestbuy-0118/5588602_sb.jpg" align="left" alt="">
                                                            </div>
                                                        </a>
                                                        <div class="card-body">
                                                            <div class="text-justify">
                                                                <a href="javascript:void(0)">Dell - Inspiron 15.6</a>
                                                                <p class="font-size-12 mb-0">Dell Inspiron Laptop: Get speed and perf</p>
                                                                <div class="ratting">
                                                                    <ul class="ratting-item d-flex p-0 m-0">
                                                                        <li class="full"><i class="ri-star-fill"></i></li>
                                                                        <li class="full"><i class="ri-star-fill"></i></li>
                                                                        <li class="full"><i class="ri-star-fill"></i></li>
                                                                        <li class="full"><i class="ri-star-fill"></i></li>
                                                                        <li class="full"><i class="ri-star-line"></i></li>
                                                                    </ul>
                                                                </div>
                                                            </div>
                                                            <div class="iq-product-action my-2">
                                                                <button type="button" class="btn btn-primary iq-waves-effect text-uppercase btn-sm addToCart" id="5588602">
                                                                    <i class="ri-shopping-cart-line mr-0"></i>
                                                                </button>
                                                                <button type="button" class="btn btn-primary iq-waves-effect text-uppercase btn-sm addToWish" id="5588602">
                                                                    <i class="ri-heart-line mr-0"></i>
                                                                </button>
                                                                <p class="font-size-16 font-weight-bold float-right">499.99</p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </li>
                                                <li key="3" class="ais-Hits-item iq-product-item iq-card">
                                                    <div class="text-center">
                                                        <a href="">
                                                            <div class="h-56 d-flex align-items-center justify-content-center bg-white iq-border-radius-15">
                                                                <img src="https://cdn-demo.algolia.com/bestbuy-0118/5578851_sb.jpg" align="left" alt="">
                                                            </div>
                                                        </a>
                                                        <div class="card-body">
                                                            <div class="text-justify">
                                                                <a href="javascript:void(0)">Amazon - Echo Dot</a>
                                                                <p class="font-size-12 mb-0">Deliver your favorite playlist anywhere </p>
                                                                <div class="ratting">
                                                                    <ul class="ratting-item d-flex p-0 m-0">
                                                                        <li class="full"><i class="ri-star-fill"></i></li>
                                                                        <li class="full"><i class="ri-star-fill"></i></li>
                                                                        <li class="full"><i class="ri-star-fill"></i></li>
                                                                        <li class="full"><i class="ri-star-fill"></i></li>
                                                                        <li class="full"><i class="ri-star-line"></i></li>
                                                                    </ul>
                                                                </div>
                                                            </div>
                                                            <div class="iq-product-action my-2">
                                                                <button type="button" class="btn btn-primary iq-waves-effect text-uppercase btn-sm addToCart" id="5578851">
                                                                    <i class="ri-shopping-cart-line mr-0"></i>
                                                                </button>
                                                                <button type="button" class="btn btn-primary iq-waves-effect text-uppercase btn-sm addToWish" id="5578851">
                                                                    <i class="ri-heart-line mr-0"></i>
                                                                </button>
                                                                <p class="font-size-16 font-weight-bold float-right">49.99</p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </li>
                                                <li key="4" class="ais-Hits-item iq-product-item iq-card">
                                                    <div class="text-center">
                                                        <a href="">
                                                            <div class="h-56 d-flex align-items-center justify-content-center bg-white iq-border-radius-15">
                                                                <img src="https://cdn-demo.algolia.com/bestbuy-0118/6443034_sb.jpg" align="left" alt="">
                                                            </div>
                                                        </a>
                                                        <div class="card-body">
                                                            <div class="text-justify">
                                                                <a href="javascript:void(0)">Apple - MacBook Air®</a>
                                                                <p class="font-size-12 mb-0">MacBook Air features up to 8GB of memory</p>
                                                                <div class="ratting">
                                                                    <ul class="ratting-item d-flex p-0 m-0">
                                                                        <li class="full"><i class="ri-star-fill"></i></li>
                                                                        <li class="full"><i class="ri-star-fill"></i></li>
                                                                        <li class="full"><i class="ri-star-fill"></i></li>
                                                                        <li class="full"><i class="ri-star-fill"></i></li>
                                                                        <li class="full"><i class="ri-star-line"></i></li>
                                                                    </ul>
                                                                </div>
                                                            </div>
                                                            <div class="iq-product-action my-2">
                                                                <button type="button" class="btn btn-primary iq-waves-effect text-uppercase btn-sm addToCart" id="6443034">
                                                                    <i class="ri-shopping-cart-line mr-0"></i>
                                                                </button>
                                                                <button type="button" class="btn btn-primary iq-waves-effect text-uppercase btn-sm addToWish" id="6443034">
                                                                    <i class="ri-heart-line mr-0"></i>
                                                                </button>
                                                                <p class="font-size-16 font-weight-bold float-right">999.99</p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </li>
                                                <li key="5" class="ais-Hits-item iq-product-item iq-card">
                                                    <div class="text-center">
                                                        <a href="">
                                                            <div class="h-56 d-flex align-items-center justify-content-center bg-white iq-border-radius-15">
                                                                <img src="https://cdn-demo.algolia.com/bestbuy-0118/4863102_sb.jpg" align="left" alt="">
                                                            </div>
                                                        </a>
                                                        <div class="card-body">
                                                            <div class="text-justify">
                                                                <a href="javascript:void(0)">Sharp - 50" Cla</a>
                                                                <p class="font-size-12 mb-0">Only at Best Buy  Sharp LC-50LB481U LED </p>
                                                                <div class="ratting">
                                                                    <ul class="ratting-item d-flex p-0 m-0">
                                                                        <li class="full"><i class="ri-star-fill"></i></li>
                                                                        <li class="full"><i class="ri-star-fill"></i></li>
                                                                        <li class="full"><i class="ri-star-fill"></i></li>
                                                                        <li class="full"><i class="ri-star-fill"></i></li>
                                                                        <li class="full"><i class="ri-star-line"></i></li>
                                                                    </ul>
                                                                </div>
                                                            </div>
                                                            <div class="iq-product-action my-2">
                                                                <button type="button" class="btn btn-primary iq-waves-effect text-uppercase btn-sm addToCart" id="4863102">
                                                                    <i class="ri-shopping-cart-line mr-0"></i>
                                                                </button>
                                                                <button type="button" class="btn btn-primary iq-waves-effect text-uppercase btn-sm addToWish" id="4863102">
                                                                    <i class="ri-heart-line mr-0"></i>
                                                                </button>
                                                                <p class="font-size-16 font-weight-bold float-right">429.99</p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </li>
                                                <li key="6" class="ais-Hits-item iq-product-item iq-card">
                                                    <div class="text-center">
                                                        <a href="">
                                                            <div class="h-56 d-flex align-items-center justify-content-center bg-white iq-border-radius-15">
                                                                <img src="https://cdn-demo.algolia.com/bestbuy-0118/5578849_sb.jpg" align="left" alt="">
                                                            </div>
                                                        </a>
                                                        <div class="card-body">
                                                            <div class="text-justify">
                                                                <a href="javascript:void(0)">Google - Google Home</a>
                                                                <p class="font-size-12 mb-0">Simplify your everyday life with the Goo</p>
                                                                <div class="ratting">
                                                                    <ul class="ratting-item d-flex p-0 m-0">
                                                                        <li class="full"><i class="ri-star-fill"></i></li>
                                                                        <li class="full"><i class="ri-star-fill"></i></li>
                                                                        <li class="full"><i class="ri-star-fill"></i></li>
                                                                        <li class="full"><i class="ri-star-fill"></i></li>
                                                                        <li class="full"><i class="ri-star-line"></i></li>
                                                                    </ul>
                                                                </div>
                                                            </div>
                                                            <div class="iq-product-action my-2">
                                                                <button type="button" class="btn btn-primary iq-waves-effect text-uppercase btn-sm addToCart" id="5578849">
                                                                    <i class="ri-shopping-cart-line mr-0"></i>
                                                                </button>
                                                                <button type="button" class="btn btn-primary iq-waves-effect text-uppercase btn-sm addToWish" id="5578849">
                                                                    <i class="ri-heart-line mr-0"></i>
                                                                </button>
                                                                <p class="font-size-16 font-weight-bold float-right">129</p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </li>
                                                <li key="7" class="ais-Hits-item iq-product-item iq-card">
                                                    <div class="text-center">
                                                        <a href="">
                                                            <div class="h-56 d-flex align-items-center justify-content-center bg-white iq-border-radius-15">
                                                                <img src="https://cdn-demo.algolia.com/bestbuy-0118/6848136_sb.jpg" align="left" alt="">
                                                            </div>
                                                        </a>
                                                        <div class="card-body">
                                                            <div class="text-justify">
                                                                <a href="javascript:void(0)">Apple - EarPods™ wit</a>
                                                                <p class="font-size-12 mb-0">Control media playback, adjust the volum</p>
                                                                <div class="ratting">
                                                                    <ul class="ratting-item d-flex p-0 m-0">
                                                                        <li class="full"><i class="ri-star-fill"></i></li>
                                                                        <li class="full"><i class="ri-star-fill"></i></li>
                                                                        <li class="full"><i class="ri-star-fill"></i></li>
                                                                        <li class="full"><i class="ri-star-fill"></i></li>
                                                                        <li class="full"><i class="ri-star-line"></i></li>
                                                                    </ul>
                                                                </div>
                                                            </div>
                                                            <div class="iq-product-action my-2">
                                                                <button type="button" class="btn btn-primary iq-waves-effect text-uppercase btn-sm addToCart" id="6848136">
                                                                    <i class="ri-shopping-cart-line mr-0"></i>
                                                                </button>
                                                                <button type="button" class="btn btn-primary iq-waves-effect text-uppercase btn-sm addToWish" id="6848136">
                                                                    <i class="ri-heart-line mr-0"></i>
                                                                </button>
                                                                <p class="font-size-16 font-weight-bold float-right">29.99</p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </li>
                                                <li key="8" class="ais-Hits-item iq-product-item iq-card">
                                                    <div class="text-center">
                                                        <a href="">
                                                            <div class="h-56 d-flex align-items-center justify-content-center bg-white iq-border-radius-15">
                                                                <img src="https://cdn-demo.algolia.com/bestbuy-0118/4374300_sb.jpg" align="left" alt="">
                                                            </div>
                                                        </a>
                                                        <div class="card-body">
                                                            <div class="text-justify">
                                                                <a href="javascript:void(0)">Philips - hue A19 Sm</a>
                                                                <p class="font-size-12 mb-0">Philips hue A19 Smart LED Light Bulb: Ge</p>
                                                                <div class="ratting">
                                                                    <ul class="ratting-item d-flex p-0 m-0">
                                                                        <li class="full"><i class="ri-star-fill"></i></li>
                                                                        <li class="full"><i class="ri-star-fill"></i></li>
                                                                        <li class="full"><i class="ri-star-fill"></i></li>
                                                                        <li class="full"><i class="ri-star-fill"></i></li>
                                                                        <li class="full"><i class="ri-star-line"></i></li>
                                                                    </ul>
                                                                </div>
                                                            </div>
                                                            <div class="iq-product-action my-2">
                                                                <button type="button" class="btn btn-primary iq-waves-effect text-uppercase btn-sm addToCart" id="4374300">
                                                                    <i class="ri-shopping-cart-line mr-0"></i>
                                                                </button>
                                                                <button type="button" class="btn btn-primary iq-waves-effect text-uppercase btn-sm addToWish" id="4374300">
                                                                    <i class="ri-heart-line mr-0"></i>
                                                                </button>
                                                                <p class="font-size-16 font-weight-bold float-right">14.99</p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </li>
                                                <li key="9" class="ais-Hits-item iq-product-item iq-card">
                                                    <div class="text-center">
                                                        <a href="">
                                                            <div class="h-56 d-flex align-items-center justify-content-center bg-white iq-border-radius-15">
                                                                <img src="https://cdn-demo.algolia.com/bestbuy-0118/5723538_sb.jpg" align="left" alt="">
                                                            </div>
                                                        </a>
                                                        <div class="card-body">
                                                            <div class="text-justify">
                                                                <a href="javascript:void(0)">Nintendo - amiibo Fi</a>
                                                                <p class="font-size-12 mb-0">Zelda appears here carrying a Sheikah Sl</p>
                                                                <div class="ratting">
                                                                    <ul class="ratting-item d-flex p-0 m-0">
                                                                        <li class="full"><i class="ri-star-fill"></i></li>
                                                                        <li class="full"><i class="ri-star-fill"></i></li>
                                                                        <li class="full"><i class="ri-star-fill"></i></li>
                                                                        <li class="full"><i class="ri-star-fill"></i></li>
                                                                        <li class="full"><i class="ri-star-line"></i></li>
                                                                    </ul>
                                                                </div>
                                                            </div>
                                                            <div class="iq-product-action my-2">
                                                                <button type="button" class="btn btn-primary iq-waves-effect text-uppercase btn-sm addToCart" id="5723538">
                                                                    <i class="ri-shopping-cart-line mr-0"></i>
                                                                </button>
                                                                <button type="button" class="btn btn-primary iq-waves-effect text-uppercase btn-sm addToWish" id="5723538">
                                                                    <i class="ri-heart-line mr-0"></i>
                                                                </button>
                                                                <p class="font-size-16 font-weight-bold float-right">15.99</p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </li>
                                                <li key="10" class="ais-Hits-item iq-product-item iq-card">
                                                    <div class="text-center">
                                                        <a href="">
                                                            <div class="h-56 d-flex align-items-center justify-content-center bg-white iq-border-radius-15">
                                                                <img src="https://cdn-demo.algolia.com/bestbuy-0118/5723537_sb.jpg" align="left" alt="">
                                                            </div>
                                                        </a>
                                                        <div class="card-body">
                                                            <div class="text-justify">
                                                                <a href="javascript:void(0)">Nintendo - amiibo Fi</a>
                                                                <p class="font-size-12 mb-0">Link™ is the main character in The Legen</p>
                                                                <div class="ratting">
                                                                    <ul class="ratting-item d-flex p-0 m-0">
                                                                        <li class="full"><i class="ri-star-fill"></i></li>
                                                                        <li class="full"><i class="ri-star-fill"></i></li>
                                                                        <li class="full"><i class="ri-star-fill"></i></li>
                                                                        <li class="full"><i class="ri-star-fill"></i></li>
                                                                        <li class="full"><i class="ri-star-line"></i></li>
                                                                    </ul>
                                                                </div>
                                                            </div>
                                                            <div class="iq-product-action my-2">
                                                                <button type="button" class="btn btn-primary iq-waves-effect text-uppercase btn-sm addToCart" id="5723537">
                                                                    <i class="ri-shopping-cart-line mr-0"></i>
                                                                </button>
                                                                <button type="button" class="btn btn-primary iq-waves-effect text-uppercase btn-sm addToWish" id="5723537">
                                                                    <i class="ri-heart-line mr-0"></i>
                                                                </button>
                                                                <p class="font-size-16 font-weight-bold float-right">15.99</p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </li>
                                                <li key="11" class="ais-Hits-item iq-product-item iq-card">
                                                    <div class="text-center">
                                                        <a href="">
                                                            <div class="h-56 d-flex align-items-center justify-content-center bg-white iq-border-radius-15">
                                                                <img src="https://cdn-demo.algolia.com/bestbuy-0118/5513500_sb.jpg" align="left" alt="">
                                                            </div>
                                                        </a>
                                                        <div class="card-body">
                                                            <div class="text-justify">
                                                                <a href="javascript:void(0)">Roku - Express Strea</a>
                                                                <p class="font-size-12 mb-0">Watch your favorite programs with this R</p>
                                                                <div class="ratting">
                                                                    <ul class="ratting-item d-flex p-0 m-0">
                                                                        <li class="full"><i class="ri-star-fill"></i></li>
                                                                        <li class="full"><i class="ri-star-fill"></i></li>
                                                                        <li class="full"><i class="ri-star-fill"></i></li>
                                                                        <li class="full"><i class="ri-star-fill"></i></li>
                                                                        <li class="full"><i class="ri-star-line"></i></li>
                                                                    </ul>
                                                                </div>
                                                            </div>
                                                            <div class="iq-product-action my-2">
                                                                <button type="button" class="btn btn-primary iq-waves-effect text-uppercase btn-sm addToCart" id="5513500">
                                                                    <i class="ri-shopping-cart-line mr-0"></i>
                                                                </button>
                                                                <button type="button" class="btn btn-primary iq-waves-effect text-uppercase btn-sm addToWish" id="5513500">
                                                                    <i class="ri-heart-line mr-0"></i>
                                                                </button>
                                                                <p class="font-size-16 font-weight-bold float-right">29.99</p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </li>
                                                <li key="12" class="ais-Hits-item iq-product-item iq-card">
                                                    <div class="text-center">
                                                        <a href="">
                                                            <div class="h-56 d-flex align-items-center justify-content-center bg-white iq-border-radius-15">
                                                                <img src="https://cdn-demo.algolia.com/bestbuy-0118/5723529_sb.jpg" align="left" alt="">
                                                            </div>
                                                        </a>
                                                        <div class="card-body">
                                                            <div class="text-justify">
                                                                <a href="javascript:void(0)">Nintendo - amiibo Fi</a>
                                                                <p class="font-size-12 mb-0">Link™ is the main character in The Legen</p>
                                                                <div class="ratting">
                                                                    <ul class="ratting-item d-flex p-0 m-0">
                                                                        <li class="full"><i class="ri-star-fill"></i></li>
                                                                        <li class="full"><i class="ri-star-fill"></i></li>
                                                                        <li class="full"><i class="ri-star-fill"></i></li>
                                                                        <li class="full"><i class="ri-star-fill"></i></li>
                                                                        <li class="full"><i class="ri-star-line"></i></li>
                                                                    </ul>
                                                                </div>
                                                            </div>
                                                            <div class="iq-product-action my-2">
                                                                <button type="button" class="btn btn-primary iq-waves-effect text-uppercase btn-sm addToCart" id="5723529">
                                                                    <i class="ri-shopping-cart-line mr-0"></i>
                                                                </button>
                                                                <button type="button" class="btn btn-primary iq-waves-effect text-uppercase btn-sm addToWish" id="5723529">
                                                                    <i class="ri-heart-line mr-0"></i>
                                                                </button>
                                                                <p class="font-size-16 font-weight-bold float-right">15.99</p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </li>
                                                <li key="13" class="ais-Hits-item iq-product-item iq-card">
                                                    <div class="text-center">
                                                        <a href="">
                                                            <div class="h-56 d-flex align-items-center justify-content-center bg-white iq-border-radius-15">
                                                                <img src="https://cdn-demo.algolia.com/bestbuy-0118/9881868_rb.jpg" align="left" alt="">
                                                            </div>
                                                        </a>
                                                        <div class="card-body">
                                                            <div class="text-justify">
                                                                <a href="javascript:void(0)">Rocketfish™ - Tiltin</a>
                                                                <p class="font-size-12 mb-0">Mount your flat-panel TV to the wall eas</p>
                                                                <div class="ratting">
                                                                    <ul class="ratting-item d-flex p-0 m-0">
                                                                        <li class="full"><i class="ri-star-fill"></i></li>
                                                                        <li class="full"><i class="ri-star-fill"></i></li>
                                                                        <li class="full"><i class="ri-star-fill"></i></li>
                                                                        <li class="full"><i class="ri-star-fill"></i></li>
                                                                        <li class="full"><i class="ri-star-line"></i></li>
                                                                    </ul>
                                                                </div>
                                                            </div>
                                                            <div class="iq-product-action my-2">
                                                                <button type="button" class="btn btn-primary iq-waves-effect text-uppercase btn-sm addToCart" id="9881868">
                                                                    <i class="ri-shopping-cart-line mr-0"></i>
                                                                </button>
                                                                <button type="button" class="btn btn-primary iq-waves-effect text-uppercase btn-sm addToWish" id="9881868">
                                                                    <i class="ri-heart-line mr-0"></i>
                                                                </button>
                                                                <p class="font-size-16 font-weight-bold float-right">99.99</p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </li>
                                                <li key="14" class="ais-Hits-item iq-product-item iq-card">
                                                    <div class="text-center">
                                                        <a href="">
                                                            <div class="h-56 d-flex align-items-center justify-content-center bg-white iq-border-radius-15">
                                                                <img src="https://cdn-demo.algolia.com/bestbuy-0118/5723700_sb.jpg" align="left" alt="">
                                                            </div>
                                                        </a>
                                                        <div class="card-body">
                                                            <div class="text-justify">
                                                                <a href="javascript:void(0)">Nintendo - amiibo Fi</a>
                                                                <p class="font-size-12 mb-0">Forget everything you know about The Leg</p>
                                                                <div class="ratting">
                                                                    <ul class="ratting-item d-flex p-0 m-0">
                                                                        <li class="full"><i class="ri-star-fill"></i></li>
                                                                        <li class="full"><i class="ri-star-fill"></i></li>
                                                                        <li class="full"><i class="ri-star-fill"></i></li>
                                                                        <li class="full"><i class="ri-star-fill"></i></li>
                                                                        <li class="full"><i class="ri-star-line"></i></li>
                                                                    </ul>
                                                                </div>
                                                            </div>
                                                            <div class="iq-product-action my-2">
                                                                <button type="button" class="btn btn-primary iq-waves-effect text-uppercase btn-sm addToCart" id="5723700">
                                                                    <i class="ri-shopping-cart-line mr-0"></i>
                                                                </button>
                                                                <button type="button" class="btn btn-primary iq-waves-effect text-uppercase btn-sm addToWish" id="5723700">
                                                                    <i class="ri-heart-line mr-0"></i>
                                                                </button>
                                                                <p class="font-size-16 font-weight-bold float-right">19.99</p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </li>
                                                <li key="15" class="ais-Hits-item iq-product-item iq-card">
                                                    <div class="text-center">
                                                        <a href="">
                                                            <div class="h-56 d-flex align-items-center justify-content-center bg-white iq-border-radius-15">
                                                                <img src="https://cdn-demo.algolia.com/bestbuy-0118/5407064_sb.jpg" align="left" alt="">
                                                            </div>
                                                        </a>
                                                        <div class="card-body">
                                                            <div class="text-justify">
                                                                <a href="javascript:void(0)">LG - Ultra Slim 8x M</a>
                                                                <p class="font-size-12 mb-0">Create archives of your favorite media w</p>
                                                                <div class="ratting">
                                                                    <ul class="ratting-item d-flex p-0 m-0">
                                                                        <li class="full"><i class="ri-star-fill"></i></li>
                                                                        <li class="full"><i class="ri-star-fill"></i></li>
                                                                        <li class="full"><i class="ri-star-fill"></i></li>
                                                                        <li class="full"><i class="ri-star-fill"></i></li>
                                                                        <li class="full"><i class="ri-star-line"></i></li>
                                                                    </ul>
                                                                </div>
                                                            </div>
                                                            <div class="iq-product-action my-2">
                                                                <button type="button" class="btn btn-primary iq-waves-effect text-uppercase btn-sm addToCart" id="5407064">
                                                                    <i class="ri-shopping-cart-line mr-0"></i>
                                                                </button>
                                                                <button type="button" class="btn btn-primary iq-waves-effect text-uppercase btn-sm addToWish" id="5407064">
                                                                    <i class="ri-heart-line mr-0"></i>
                                                                </button>
                                                                <p class="font-size-16 font-weight-bold float-right">39.99</p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </li>
                                                <li key="16" class="ais-Hits-item iq-product-item iq-card">
                                                    <div class="text-center">
                                                        <a href="">
                                                            <div class="h-56 d-flex align-items-center justify-content-center bg-white iq-border-radius-15">
                                                                <img src="https://cdn-demo.algolia.com/bestbuy-0118/4743301_sb.jpg" align="left" alt="">
                                                            </div>
                                                        </a>
                                                        <div class="card-body">
                                                            <div class="text-justify">
                                                                <a href="javascript:void(0)">Sony - BDP-S3700 - S</a>
                                                                <p class="font-size-12 mb-0">Enjoy fast, high-definition media stream</p>
                                                                <div class="ratting">
                                                                    <ul class="ratting-item d-flex p-0 m-0">
                                                                        <li class="full"><i class="ri-star-fill"></i></li>
                                                                        <li class="full"><i class="ri-star-fill"></i></li>
                                                                        <li class="full"><i class="ri-star-fill"></i></li>
                                                                        <li class="full"><i class="ri-star-fill"></i></li>
                                                                        <li class="full"><i class="ri-star-line"></i></li>
                                                                    </ul>
                                                                </div>
                                                            </div>
                                                            <div class="iq-product-action my-2">
                                                                <button type="button" class="btn btn-primary iq-waves-effect text-uppercase btn-sm addToCart" id="4743301">
                                                                    <i class="ri-shopping-cart-line mr-0"></i>
                                                                </button>
                                                                <button type="button" class="btn btn-primary iq-waves-effect text-uppercase btn-sm addToWish" id="4743301">
                                                                    <i class="ri-heart-line mr-0"></i>
                                                                </button>
                                                                <p class="font-size-16 font-weight-bold float-right">89.99</p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </li>
                                                <li key="17" class="ais-Hits-item iq-product-item iq-card">
                                                    <div class="text-center">
                                                        <a href="">
                                                            <div class="h-56 d-flex align-items-center justify-content-center bg-white iq-border-radius-15">
                                                                <img src="https://cdn-demo.algolia.com/bestbuy-0118/4806800_sb.jpg" align="left" alt="">
                                                            </div>
                                                        </a>
                                                        <div class="card-body">
                                                            <div class="text-justify">
                                                                <a href="javascript:void(0)">Insignia™ - 55"</a>
                                                                <p class="font-size-12 mb-0">Experience cinema-like viewing from the </p>
                                                                <div class="ratting">
                                                                    <ul class="ratting-item d-flex p-0 m-0">
                                                                        <li class="full"><i class="ri-star-fill"></i></li>
                                                                        <li class="full"><i class="ri-star-fill"></i></li>
                                                                        <li class="full"><i class="ri-star-fill"></i></li>
                                                                        <li class="full"><i class="ri-star-fill"></i></li>
                                                                        <li class="full"><i class="ri-star-line"></i></li>
                                                                    </ul>
                                                                </div>
                                                            </div>
                                                            <div class="iq-product-action my-2">
                                                                <button type="button" class="btn btn-primary iq-waves-effect text-uppercase btn-sm addToCart" id="4806800">
                                                                    <i class="ri-shopping-cart-line mr-0"></i>
                                                                </button>
                                                                <button type="button" class="btn btn-primary iq-waves-effect text-uppercase btn-sm addToWish" id="4806800">
                                                                    <i class="ri-heart-line mr-0"></i>
                                                                </button>
                                                                <p class="font-size-16 font-weight-bold float-right">379.99</p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </li>
                                                <li key="18" class="ais-Hits-item iq-product-item iq-card">
                                                    <div class="text-center">
                                                        <a href="">
                                                            <div class="h-56 d-flex align-items-center justify-content-center bg-white iq-border-radius-15">
                                                                <img src="https://cdn-demo.algolia.com/bestbuy-0118/5606300_sb.jpg" align="left" alt="">
                                                            </div>
                                                        </a>
                                                        <div class="card-body">
                                                            <div class="text-justify">
                                                                <a href="javascript:void(0)">HP - 15.6" Lapt</a>
                                                                <p class="font-size-12 mb-0">HP Laptop: Experience high-powered compu</p>
                                                                <div class="ratting">
                                                                    <ul class="ratting-item d-flex p-0 m-0">
                                                                        <li class="full"><i class="ri-star-fill"></i></li>
                                                                        <li class="full"><i class="ri-star-fill"></i></li>
                                                                        <li class="full"><i class="ri-star-fill"></i></li>
                                                                        <li class="full"><i class="ri-star-fill"></i></li>
                                                                        <li class="full"><i class="ri-star-line"></i></li>
                                                                    </ul>
                                                                </div>
                                                            </div>
                                                            <div class="iq-product-action my-2">
                                                                <button type="button" class="btn btn-primary iq-waves-effect text-uppercase btn-sm addToCart" id="5606300">
                                                                    <i class="ri-shopping-cart-line mr-0"></i>
                                                                </button>
                                                                <button type="button" class="btn btn-primary iq-waves-effect text-uppercase btn-sm addToWish" id="5606300">
                                                                    <i class="ri-heart-line mr-0"></i>
                                                                </button>
                                                                <p class="font-size-16 font-weight-bold float-right">259.99</p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </li>
                                                <li key="19" class="ais-Hits-item iq-product-item iq-card">
                                                    <div class="text-center">
                                                        <a href="">
                                                            <div class="h-56 d-flex align-items-center justify-content-center bg-white iq-border-radius-15">
                                                                <img src="https://cdn-demo.algolia.com/bestbuy-0118/5723548_sb.jpg" align="left" alt="">
                                                            </div>
                                                        </a>
                                                        <div class="card-body">
                                                            <div class="text-justify">
                                                                <a href="javascript:void(0)">Nintendo - amiibo Fi</a>
                                                                <p class="font-size-12 mb-0">These creatures have appeared in many ga</p>
                                                                <div class="ratting">
                                                                    <ul class="ratting-item d-flex p-0 m-0">
                                                                        <li class="full"><i class="ri-star-fill"></i></li>
                                                                        <li class="full"><i class="ri-star-fill"></i></li>
                                                                        <li class="full"><i class="ri-star-fill"></i></li>
                                                                        <li class="full"><i class="ri-star-fill"></i></li>
                                                                        <li class="full"><i class="ri-star-line"></i></li>
                                                                    </ul>
                                                                </div>
                                                            </div>
                                                            <div class="iq-product-action my-2">
                                                                <button type="button" class="btn btn-primary iq-waves-effect text-uppercase btn-sm addToCart" id="5723548">
                                                                    <i class="ri-shopping-cart-line mr-0"></i>
                                                                </button>
                                                                <button type="button" class="btn btn-primary iq-waves-effect text-uppercase btn-sm addToWish" id="5723548">
                                                                    <i class="ri-heart-line mr-0"></i>
                                                                </button>
                                                                <p class="font-size-16 font-weight-bold float-right">15.99</p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                       
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>